# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [5]:
nums = [1,2,3,4]
nums

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [6]:
# Method 1 
nums.pop(2)
nums

[1, 2, 4]

In [8]:
# Method 2
nums = [1,2,3,4]

nums.remove(3)
nums

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [11]:
lst = [2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [12]:
lst.insert(2, "two-and-half")
lst

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [13]:
# CODE HERE
phrase = "Don't panic!"

lis = list(phrase)
lis

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

`Question:` Remove ** '** and **!** in the list

In [15]:
print(lis.index("'"))
print(lis.index("!"))

3
11

In [18]:
lis.pop(3)
lis.pop(10)

lis

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [21]:
# CODE HERE
list1 = ["p", "a", "n", "D"]

lis.remove("p")
lis.remove("a")
lis.remove("n")
lis.remove("D")

lis.extend(list1)

lis

['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [22]:
# CODE HERE
list2 = ['p', 'a', 'n', 'D', 'a']
str = ""
for i in list2:
    str+=i
    
print(str)

panDa

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [23]:
# CODE HERE
nums = (31,24,35,85)
print("data type", type(nums))

nums

data type <class 'tuple'>

(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [31]:
# CODE HERE
lis_tup = list(nums)
lis_tup.remove(35)

t = tuple(lis_tup)
t

(31, 24, 85)

**Extent** tuple (85,19)

In [35]:
# CODE HERE
tuple1 = (85,19)
list1 = list(tuple1)

list1.insert(0,31)
list1.insert(1,24)
list1.insert(3,85)
list1.append(19)

list1

[31, 24, 85, 85, 19]

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [36]:
# CODE HERE

tpl = ('i','n''n','0')

print("i" in tpl)

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [38]:
# CODE HERE
list1 = ['Hello',100,[],'innomatics']
i = list1.index([])
list1[i] = [200]
print(list1)

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [50]:
# CODE HERE
tpl = ("Innomatics")
lis = []
for i in tpl:
    lis.append(i)
    
lis.reverse()
tup = tuple(lis)
tup

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [51]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [55]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
list1 = []
for i in tpl:
    lis = list(i)
    lis.append(100)
    tup = tuple(lis)
    list1.append(tup)
    
print(list1)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [58]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
listt = []
for i in tpl:
    lis = list(i)
    lis[2] = 100
    tup = tuple(lis)
    listt.append(tup)
    
print(listt)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [77]:
# CODE HERE
string = "5 2 3 6 6 5"
lists = string.split(" ")
set_lists = set(lists)
list_set = list(set_lists)
list_set.sort()
snd_highest = list_set[-2]

print("second highest value is", snd_highest)

second highest value is 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [22]:
# CODE HERE
y = [12,24,35,70,88,120,155]


x = [y[i] for i in range(len(y)) if i !=0 and i !=4 and i !=5]
x

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [42]:
tup = (1,2,3,4,5,6,7,8,9,10)

print(tup[:5], tup[5:])

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [45]:
tup = (1,2,3,4,5,6,7,8,9,10)

tup1 = (tup[1::2])
tup1

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

# Solution

- Lists are mutable whereas tuples are tuples are immutable.
- List uses [] and tuples use ().
- list used 'list()' keyword, tuples use 'tuple()' keyword.
- tuples have only 2 methods lists have multiple.

### 2. Explain the difference between append() and extend() with examples

append() is used to add one element at the end of the list.
extend() is used to join 2 lists.

In [52]:
# Solution

list1 = [1,2,3,4]
list1.append(5)
print(list1)
list2 = [6,7,8,9,10]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
pop() removes element based on index
remove() removes element based on value.

In [49]:
# Solution

list1.pop(2)

3

In [53]:
list1.remove(4)
list1

[1, 2, 3, 5, 6, 7, 8, 9, 10]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

In [9]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [27]:
1/2

0.5

In [34]:
(1//2).floor

AttributeError: 'int' object has no attribute 'floor'