# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [1]:
# CODE HERE
person1 = {"Name":"John",
          "Gender":"Male",
          "Occupation":"Data Scientist",
          "Location":"Nizampet, Hyderabad"}

In [2]:
person1

{'Name': 'John',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet, Hyderabad'}

> print keys in person1 as a list

In [4]:
# CODE HERE
list_p =[]
for key in person1:
    list_p.append(key)
    
list_p

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [7]:
# CODE HERE
person1.pop("Location")

'Nizampet, Hyderabad'

In [8]:
person1

{'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [12]:
# CODE HERE
person2 = {
    "Name": "Raghu Ram",
    "Gender": "Male",
    "Age": 25,
    "Occupation":"Data Scientist"
    }

In [13]:
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [14]:
# CODE HERE
print("==================== person1 ====================")
print(person1)
print("==================== person2 ====================")
print(person2)

==================== person1 ====================
{'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [15]:
# CODE HERE
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

#Using pop()
squares.pop(3)
print(squares)
#Using popitem()
squares.popitem()
print(squares)
#Using clear()
squares.clear()
squares

{1: 1, 2: 4, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 4: 16, 5: 25, 6: 36}

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [21]:
# CODE HERE
d = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
list_d = []
for key in d:
   list_d.append(d[key])

list_d.sort(reverse=True)
list_d

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [26]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

dict1.update(dict2)
dict1.update(dict3)
dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [28]:
# CODE HERE
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [29]:
sample_dict["emp3"]["salary"] = 8500
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [34]:
# CODE HERE
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [38]:
sampleDict['class']["student"]["marks"]["history"]

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [ ]:
# CODE HERE
d= {'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [40]:
d= {'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [41]:
d

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [49]:
database = {'ram':1234,'raghu':5678,'kanav':1357}

In [50]:
username = input("Enter username: ")
password = int(input("Enter password: "))

if username in database and password == database[username]:
    print("Hello", username)
else:
    ans = input("No match found. Do you want to add the entry into the database (Y/N): ").upper()
    if ans == "Y":
        database.update({username:password})

database

Enter username: enoch
Enter password: 3345
No match found. Do you want to add the entry into the database (Y/N): y

{'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'enoch': 3345}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)