# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [1]:
# CODE HERE

print("My name is Innomatics")

My name is Innomatics

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

# WRITE HERE

Variable: A variable is an identifier which can be used to hold certain values. there are some rules to be followed while declaring a variable, they are given as follows:

    Do's:
        -A variable should be alpha-numeric i.e, it should contain (a-z,A-Z,0-9) values.
        -A variable can have '_' character in it.
        -A variable should start with a letter, then can be followed by a number.
        
    Dont's:
        -A variable should not have any special characters other than '_'.
        -A variable cannot be a keyword.
        -A variable cannot start with a digit (0-9).

In [2]:
# Code Here

var_1 = "A variable."

print(f"var_1 is a valid variable. where var_1 = {var_1}")

var_1 is a valid variable. where var_1 = A variable.

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [11]:
# CODE HERE
width = 17 
height = 12.0
delimiter = '.'

print(f"width/2 = {width/2}")
print(type(width/2))
print(f"width/2.0 = {width/2.0}")
print(type(width/2.0))
print(f"height/3 = {height/3}")
print(type(height/3))
print(f"{1+2*5}")
print(type(1+2*5))
print(delimiter * 5)
print(type(delimiter * 5))

width/2 = 8.5
<class 'float'>
width/2.0 = 8.5
<class 'float'>
height/3 = 4.0
<class 'float'>
11
<class 'int'>
.....
<class 'str'>

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [12]:
#CODE HERE
first = 35

In [14]:
second = 678

print(f"Addition of two numbers are: {first+second}")

Addition of two numbers are: 713

> `Question:` Add your first name and second name

In [17]:
# CODE HERE
first_name = "Enoch"
second_name = " Domathoti"

In [18]:
full_name = first_name + second_name

print(f"My full name is: {full_name}")

My full name is: Enoch Domathoti

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [22]:
# CODE HERE
print(f"10 - {type(10)}")
print(f"'10' - {type('10')}")
print(f"True - {type(True)}")
print(f"10.5 - {type(10.5)}")

10 - <class 'int'>
'10' - <class 'str'>
True - <class 'bool'>
10.5 - <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [24]:
# CODE HERE
num_int = 123
num_str = "456"
print(f"Addition of 123 and 456 is : {num_int + int(num_str)}")

Addition of 123 and 456 is : 579

Addition of 123 and 456 is :  579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [25]:
# CODE HERE
radius = 5
pi = 3.14
print(f"Volume = {(4/3)*pi*radius**3}")

Volume = 523.3333333333334

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [26]:
# CODE HERE
cover_p = 24.95
discount = 0.4
ship_cost1 = 3
ship_cost2 = 0.75

In [35]:
wholesale_cost = (cover_p - cover_p * discount) * 60 + ship_cost1 + 59 * ship_cost2

In [36]:
print(f"The wholesale cost for 60 books is: {wholesale_cost}/-")

The wholesale cost for 60 books is: 945.4499999999999/-

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)